.csumb__img {
    height: 110px;
    width:110px;
    filter: brightness(0) invert(1);
}
.image__img {
    height: 225px;
    width: auto;
}
.image__background {
    background-image: url(/static/images/Background.jpg);
    background-size:cover;
    background-repeat: no-repeat;

    height:100vh;
}
#middle {
    margin-right: 500px;

}